<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <!-- ! Hide app brand if navbar-full -->
  {% if not navbar_full %}
  <div class="app-brand demo">
    <a href="{% url 'index' %}" class="app-brand-link">
      <span class="app-brand-logo demo">
        {% include 'partials/logo.html' with withbg="#696cff" %}
      </span>
      <span class="app-brand-text demo menu-text fw-bold ms-2">{% get_theme_variables 'template_name' %}</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>
  {% endif %}


  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">

    <li class="menu-item {% if 'index' == request.resolver_match.url_name or '/dashbord/' in request.path %}active open{% endif %}">
      <a href="/" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        <span class="badge bg-danger rounded-pill ms-auto">5</span>
      </a>
      <ul class="menu-sub">

      </ul>
    </li>

    <!-- Marketing -->
    <li class="menu-item {% if '/marketing/' in request.path %}active open{% endif %}">
      {% if show_marketing_menu %}
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bxs-megaphone"></i>
          <div class="text-truncate" data-i18n="Marketing">Marketing</div>
        </a>
      {% endif %}
      <ul class="menu-sub">
        {% if is_facebook_enabled %}
          <li class="menu-item {% if '/facebook/' in request.path %}active{% endif %}">
            <a href="{% url 'facebook_manage' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Facebook">Facebook</div>
            </a>
          </li>
        {% else %}
        <!-- Facebook Disabled with Tooltip -->
        <li class="menu-item">
          <a href="{% url 'social-media-settings' %}" class="menu-link disabled" data-bs-toggle="tooltip" data-bs-placement="top" title="Enable Facebook">
            <div class="text-truncate" data-i18n="Facebook">Facebook</div>
          </a>
        </li>
        {% endif %}
        {% comment %} <li class="menu-item {% if '/social_media_settings/' in request.path %}active{% endif %}">
          <a href="{% url 'socia-media-settings' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Social Media">Social Media</div>
          </a>
        </li> {% endcomment %}
      </ul>
    </li>

    <!-- Account -->
    <li class="menu-item {% if '/account_settings/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-dock-top"></i>
        <div class="text-truncate" data-i18n="Settings">Settings</div>
      </a>
      <ul class="menu-sub">
        <li class="menu-item {% if '/account/' in request.path %}active{% endif %}">
          <a href="{% url 'pages-account-settings-account' %}" class="menu-link">
            <div class="text-truncate" data-i18n="General">General</div>
          </a>
        </li>
        <li class="menu-item {% if '/social_media_settings/' in request.path %}active{% endif %}">
          <a href="{% url 'social-media-settings' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Social Media">Social Media</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Auth -->
    <li class="menu-item {% if '/auth/' in request.path or '/users/' in request.path %}active open{% endif %}">
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
        <div class="text-truncate" data-i18n="Authentications">Authentications</div>
      </a>
      <ul class="menu-sub">
        {% if perms.users.view_customuser %}
          <li class="menu-item {% if '/users/' in request.path %}active{% endif %}">
            <a href="{% url 'view_users' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Users">Users</div>
            </a>
          </li>
        {% endif %}

        <li class="menu-item {% if '/roles/' in request.path %}active{% endif %}">
          <a href="{% url 'view-roles' %}" class="menu-link">
            <div class="text-truncate" data-i18n="Roles & Permission">Roles</div>
          </a>
        </li>

        {% if perms.authentication.view_role %}
          <li class="menu-item {% if '/list-permissions/' in request.path or '/view-permissions' in request.path %}active{% endif %}">
            <a href="{% url 'list-permissions' %}" class="menu-link">
              <div class="text-truncate" data-i18n="Roles & Permission">Permissions</div>
            </a>
          </li>
        {% endif %}
      </ul>
    </li>
  </ul>
</aside>
