{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Edit User{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <form class="add-transactions pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addTransactionForm" method="POST" novalidate="novalidate">
      {% csrf_token %}
      <div class="mb-5 fv-plugins-icon-container">
        <label class="form-label" for="customer-name">
          {{ form.username.label_tag }}
        </label>
        {{ form.username }}
        {% if form.username.errors %}
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div class="text-danger">{{ form.username.errors }}</div>
            </div>
        {% endif %}
      </div>
      <div class="mb-5 fv-plugins-icon-container">
        <label class="form-label" for="transaction-date">
          {{ form.email.label_tag }}
        </label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div class="text-danger">{{ form.email.errors }}</div>
            </div>
        {% endif %}
      </div>
      <div class="mb-5 fv-plugins-icon-container">
        <label for="role" class="form-label">Role</label>
        <select name="role" id="role" class="form-select">
            <option value="">Select a role</option>
            {% for role in roles %}
                <option value="{{ role.id }}" {% if role.id in user_roles %}selected{% endif %}>
                    {{ role.name }}
                </option>
            {% endfor %}
        </select>
      </div>
      <div class="mb-5 fv-plugins-icon-container">
      <button type="submit" class="btn btn-primary me-sm-4 me-1" name="submitButton">Submit</button>
      <a href="{% url 'view_users' %}" class="btn btn-secondary">Back</a>
    <input type="hidden"></form>
  </div>
</div>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    // Populate the select element dynamically (if needed)
    const options = [
      { id: 'Paid', text: 'Paid' },
      { id: 'Due', text: 'Due' },
      { id: 'Canceled', text: 'Canceled' }
    ];

    const $select = $('#customer-status');
    options.forEach(option => {
      $select.append(new Option(option.text, option.id));
    });

    // Initialize Select2
    $select.select2({
      placeholder: "Select Status",
      allowClear: true
    });
  });
</script>
{% endblock %}
